@import url("./root.css");

/* upload.css */

/* Container for the Upload Section */
#Upload-Sec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  background-color: var(--about-background-color); 
  min-height: 80vh; 
  flex-direction: column;
  text-align: center; 
}


.upload-info {
  text-align: center;
  padding: 40px 30px;
  background-color: #e3f3ff; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.upload-title h2 {
  font-size: 2.5rem;
  color: #007bff; 
  margin-bottom: 10px;
}

.upload-title p {
  font-size: 1.2rem;
  color: #007bff;
  margin-bottom: 20px;
}


.upload-btn {
  background-color: #0f4f6f; 
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px; 
  text-decoration: none;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.upload-btn:hover {
  background-color: #0088cc; 
}

.upload-btn .upload-icon {
  margin-left: 10px;
  font-size: 20px;
}

.upload-info img {
  max-width: 80px;
  margin-bottom: 20px;
}

#Upload-Sec h2 {
  font-size: 2rem;
  color: #007bff;
  font-weight: bold;
}

#Upload-Sec.about-page {
  border-top: 5px solid rgb(9, 135, 219); 
}
